<!DOCTYPE html>
<html>
<head>
  <title>Agro Genius</title>
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- Compiled and minified JavaScript -->
    <style>
        div.main {
            padding: 5px 50px 75px 50px;
        }

        span {
            vertical-align: middle;
         }

        .brand-logo > span,.brand-logo > img {
            vertical-align: middle;
        }
        .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
      }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
</head>
<body class="main">
  <nav class="navbar navbar-expand-lg" style="background-color: mediumseagreen;">
    <a class="navbar-brand" href="http://localhost:5000">Agro Genius</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="http://localhost:5000/explore">Explore Crops</a>
          <a class="nav-item nav-link" href="http://localhost:5000/trends">Current Trends</a>
          <a class="nav-item nav-link" href="http://localhost:5000/weather">Weather Forecast</a>
          <a class="nav-item nav-link" href="http://localhost:5000/fertilizer_info">Fertilizer Recommender</a>
          <a class="nav-item nav-link" href="http://localhost:5000/shop">Agri Shops</a>
          <a class="nav-item nav-link" href="http://localhost:5000/croprecomd">Crop Recommender</a>
          <a class="nav-item nav-link" href="http://localhost:5000/chat">Chat</a>
          <a class="nav-item nav-link" href="http://localhost:5000/guide">Guide</a>
        <div id="google_translate_element"></div>
            <script type="text/javascript">
            function googleTranslateElementInit() {
                    new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                }
            </script>
            <script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
      </div>
    </div>
  </nav>
  <div>

	
		

    <div class="row">
    <div class="card-panel col s9">
      <div class="card-panel" >
        <h4 class="#e0f7fa lighten-5" style="color: #4B5320; font-weight:500">Top Winners</h4>
        <table class="striped" style="border: darkgray 1px solid;">
          <thead>
          <tr>
              <th style="color: #304100; background-color: #90EE90;">Item Name</th>
              <th style="color: #304100; background-color: #90EE90;">Price (per Qtl.)</th>
              <th style="color: #304100; background-color: #90EE90;">Change</th>
          </tr>
        </thead>

        <tbody>
        {% for item in context['top3'] %}
          <tr>
            <td>{{item[0]}}</td>
            <td>₹{{item[1]}}</td>
            <td class="valign-wrapper">{{item[2]}}% <img src="../static/gain-icon.png" height="25" width="25"></td>
          </tr>
        {% endfor %}
        </tbody>
        </table>
              </div> 
      <div class="card-panel" >
      <h4 class="#e0f7fa lighten-5" style="color: #4B5320; font-weight:500">Top Losers</h4>
      <table class="striped" style="border: darkgray 1px solid;">
        <thead>
          <tr>
              <th style="color: #304100; background-color: #90EE90;">Item Name</th>
              <th style="color: #304100; background-color: #90EE90;">Price (per Qtl.)</th>
              <th style="color: #304100; background-color: #90EE90;">Change</th>
          </tr>
        </thead>

        <tbody>
        {% for item in context['bottom3'] %}
          <tr>
            <td>{{item[0]}}</td>
            <td>₹{{item[1]}}</td>
            <td class="valign-wrapper">{{item[2]}}% <img src="../static/loss-icon.png" height="25" width="25"></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
            </div>
    </div>


    <div class="col s3">
      <div class="card grey lighten-3" style="width: 300px;">
        <div class="card-content black-text">
          <h6>Star Crop Prediction</h6>
           <span class="card-title" id="time">{{context.sixmonths[0][0]}}</span>
          <table class="valign-wrapper">
            <tr>
              <td><h5 id="crop1">{{context.sixmonths[0][1]}}</h5></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td class="right">
                  <h4 id="price1">₹{{context.sixmonths[0][2]}}</h4>
              <p id="pos-change" class="valign-wrapper right">{{context.sixmonths[0][3]}}%</p><img id="change1" src="../static/gain-icon.png" height="20" width="20" style=" margin-left: 5;"></td>

            </tr>
            <tr>
              <td><h5 id="crop2">{{context.sixmonths[0][4]}}</h5></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td class="right"><h4 id="price2">₹{{context.sixmonths[0][5]}}</h4>
              <p id="neg-change" class="valign-wrapper right">{{context.sixmonths[0][6]}}%</p><img id="change2" src="../static/loss-icon.png" height="20" width="20" style="margin-left: 5;">
                </td>
            </tr>
          </table>
          <script>
            function sleep(ms) {
              return new Promise(resolve => setTimeout(resolve, ms));
             }
            function updateTime(i){
              $('#time').load('http://localhost:5000/ticker/'+0+ '/' + i);
            }

            function updateCrop1(i){
              $('#crop1').load('http://localhost:5000/ticker/'+ 1 + '/' + i);
            }

            function updatePrice1(i){
              $('#price1').load('http://localhost:5000/ticker/'+ 2 + '/' + i);
            }

            function updateChange1(i){
              $("#change1").attr("src","../static/gain-icon.png");
              $('#pos-change').load('http://localhost:5000/ticker/'+ 3 + '/'  + i);

            }

            function updateCrop2(i){
              $('#crop2').load('http://localhost:5000/ticker/'+ 4 + '/'  + i);
            }

            function updatePrice2(i){
              $('#price2').load('http://localhost:5000/ticker/'+ 5 + '/'  + i);
            }

            function updateChange2(i){
              $("#change2").attr("src","../static/loss-icon.png");
              $('#neg-change').load('http://localhost:5000/ticker/'+ 6 + '/'  + i);

            }
          </script>

            <script>
                    var i = 0
                    setInterval(async function(){
                    i = (i+1)%5;
                    updateTime(i);

                    updateCrop1(i);
                    await sleep(200);

                    updatePrice1(i);
                    await sleep(200);

                    updateChange1(i);
                    await sleep(200);

                    updateCrop2(i);
                    await sleep(200);

                    updatePrice2(i);
                    await sleep(200);

                    updateChange2(i);
                    await sleep(200);

                    }, 4000);

            </script>

        </div>
      </div>

    </div>
  </div>
   
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>
